/VioletFramework/target/
/VioletPlugin.ClassDiagram/target/
/VioletPlugin.ObjectDiagram/target/
/VioletPlugin.ActivityDiagram/target/
/VioletPlugin.StateDiagram/target/
/VioletPlugin.UseCaseDiagram/target/
/VioletPlugin.SequenceDiagram/target/
/VioletProduct.swing/target/
