<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
    http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd">

	<bean id="springDependencyInjector" class="com.horstmann.violet.framework.injection.bean.SpringDependencyInjector" />

	<bean id="themeManager" class="com.horstmann.violet.framework.display.theme.ThemeManager" init-method="applyPreferedTheme">
		<property name="installedThemes">
			<list value-type="com.horstmann.violet.framework.display.theme.ITheme">
				<bean class="com.horstmann.violet.framework.display.theme.ClassicMetalTheme" />
				<bean class="com.horstmann.violet.framework.display.theme.VistaBlueTheme" />
			</list>
		</property>
		<property name="userPreferencesService" ref="userPreferencesService" />
	</bean>
	
	<bean id="clipboard" class="com.horstmann.violet.framework.display.clipboard.Clipboard" />
	
	<bean id="pluginRegistry" class="com.horstmann.violet.framework.plugin.PluginRegistry" />
	
	<bean id="pluginLoader" class="com.horstmann.violet.framework.plugin.PluginLoader">
		<constructor-arg ref="pluginRegistry"/>
	</bean>
	
	<bean id="userPreferencesService" class="com.horstmann.violet.framework.userpreferences.UserPreferencesService">
		<constructor-arg ref="userPreferencesDao"/>
	</bean>

	<bean id="fileNamingService" class="com.horstmann.violet.framework.file.naming.FileNamingService">
		<constructor-arg ref="pluginRegistry"/>
	</bean>
	
	<bean id="filePersistenceService" class="com.horstmann.violet.framework.file.persistence.StandardJavaFilePersistenceService" />
		

</beans>